{% extends "base.html" %}

{% block title %}
Edit Comment
{% endblock %}

{% block content %}

<div class="container py-5" style="max-width:700px;">

    <h2 class="mb-4">
        Edit Comment
    </h2>

    <form method="POST">

        {% csrf_token %}

        {{ form }}

        <button class="btn btn-primary mt-3">
            Save Changes
        </button>

        <a
            href="{{ comment.post.get_absolute_url }}"
            class="btn btn-secondary mt-3">

            Cancel

        </a>

    </form>

</div>

{% endblock %}