{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}WorldThread{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" 
        rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icons@7.5.0/css/flag-icons.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block css %}{% endblock %}
</head>

<body>

    {% include "components/navbar.html" %}

    

    <main>

        {% block content %}
        {% endblock %}

    </main>

    {% include "components/footer.html" %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

    <script>

    function loginRequired(){

        const modal = new bootstrap.Modal(
            document.getElementById("loginRequiredModal")
        );

        modal.show();

    }

    </script>

{% block js %}{% endblock %}


    <!-- Login Required Modal -->
<div class="modal fade" id="loginRequiredModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title">
                    🔒 Login Required
                </h5>

                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal">
                </button>

            </div>

            <div class="modal-body text-center">

                <h5 class="mb-3">
                    Join the WorldThread Community
                </h5>

                <p class="text-muted">

                    Please log in to like posts, comment,
                    follow creators and publish your own blogs.

                </p>

            </div>

            <div class="modal-footer justify-content-center">

                <a href="{% url 'login' %}"
                   class="btn btn-primary">

                    Login

                </a>

                <a href="{% url 'register' %}"
                   class="btn btn-outline-primary">

                    Create Account

                </a>

            </div>

        </div>
    </div>
</div>

</body>

</html>